# 모듈 Import

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings(action='ignore')

import pandas as pd

# Make Original Data

원본 기록은 http://www.kbreport.com/ 에서 수집하였음.<br>
홈페이지 내 선수기록 - 투구기록 - 세부기록 메뉴에서 상대팀별 기록 수집.<br>
수집 기준 날짜는 2020-09-27 23:16

In [2]:
df = pd.read_excel('불펜데이터_크롤링.xlsx', encoding='cp949')
df

     이름   팀   방어율   피출루율   피OPS     삼진/볼넷   피장타율     잔루처리율
0    한화  SK  6.45  0.400  0.890  1.297297  0.490  0.617647
1    키움  SK  6.06  0.336  0.746  1.680000  0.410  0.592705
2    롯데  SK  5.09  0.320  0.703  1.933333  0.383  0.652174
3   KIA  SK  5.00  0.396  0.841  1.142857  0.445  0.666667
4    삼성  SK  3.31  0.296  0.624  3.600000  0.328  0.767196
..  ...  ..   ...    ...    ...       ...    ...       ...
85   키움  KT  4.56  0.388  0.835  1.958333  0.447  0.765550
86   LG  KT  5.08  0.381  0.817  2.428571  0.436  0.683333
87   NC  KT  5.10  0.322  0.764  2.000000  0.442  0.660066
88   삼성  KT  6.30  0.379  0.874  1.458333  0.495  0.598958
89   SK  KT  6.38  0.408  0.959  1.666667  0.551  0.669291

[90 rows x 8 columns]

In [3]:
replace = {'두산':'OB', '삼성':'SS', 'KIA':'HT', '키움':'WO', '한화':'HH', '롯데':'LT'}
df = df.replace(replace)
df.rename(columns = {'이름':'T_ID', '팀':'VS_T_ID', '방어율':'방어율_', '피출루율':'피출루율_', '피OPS':'피OPS_', '삼진/볼넷':'삼진/볼넷_', '피장타율':'피장타율_', '잔루처리율':'잔루처리율_'}, inplace = True)

df

   T_ID VS_T_ID  방어율_  피출루율_  피OPS_    삼진/볼넷_  피장타율_    잔루처리율_
0    HH      SK  6.45  0.400  0.890  1.297297  0.490  0.617647
1    WO      SK  6.06  0.336  0.746  1.680000  0.410  0.592705
2    LT      SK  5.09  0.320  0.703  1.933333  0.383  0.652174
3    HT      SK  5.00  0.396  0.841  1.142857  0.445  0.666667
4    SS      SK  3.31  0.296  0.624  3.600000  0.328  0.767196
..  ...     ...   ...    ...    ...       ...    ...       ...
85   WO      KT  4.56  0.388  0.835  1.958333  0.447  0.765550
86   LG      KT  5.08  0.381  0.817  2.428571  0.436  0.683333
87   NC      KT  5.10  0.322  0.764  2.000000  0.442  0.660066
88   SS      KT  6.30  0.379  0.874  1.458333  0.495  0.598958
89   SK      KT  6.38  0.408  0.959  1.666667  0.551  0.669291

[90 rows x 8 columns]

In [4]:
df.to_csv('20200927기준_상대팀별누적투수데이터_불펜.csv', index= False, encoding='cp949')